<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

   <header>
      <div th:replace="fragments :: nav"></div>
      <div th:replace="fragments :: banner"></div>
   </header>

   <div class="container body-content py-3">
      <h1>About The Pantry</h1>
      <p>
         The Pantry is a recipe search web app that displays recipes based on ingredients the user has available. Users may also create an account to manage recipes and save favorites, with passwords protected using BCrypt hashing.
      </p>

      <h3>The Pantry Development & Testing</h3>
      <p>
         This site was developed as a Liftoff group portfolio project to display knowledge learned from the LaunchCode LC101 course.
      </p>
      <br>
      <h3>*Current Tech Stack*</h3>
      <hr>
      <h4>Languages and Frameworks:</h4>
      <ul>
         <li>Java</li>
         <li>JavaScript</li>
         <li>Spring MVC (w/Gradle)</li>
         <li>Thymeleaf</li>
         <li>jQuery</li>
         <li>Bootstrap</li>
      </ul>
      <h4>Markup and Stylesheet:</h4>
      <ul>
         <li>HTML5</li>
         <li>CSS</li>
      </ul>
      <h4>Database:</h4>
      <uL>
         <li>MySQL</li>
      </uL>
      <h4>User Security and Authentication:</h4>
      <ul>
         <li>Spring Security</li>
         <li>Spring Crypto</li>
      </ul>

      <hr>
      <h3>Project Team Members</h3>
      <ul>
         <li>Henry Lewis (Developer)</li>
         <li>James Niebruegge (Developer)</li>
         <li>Sreejisha Govindan (Developer)</li>



      </ul>
   </div>

   <footer th:replace="fragments :: footer"></footer>

</body>
</html>
